.frame {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #d9d9d9;
}

.frame .main-frame {
  /* Home One page- Light */
  width: 1440px;
  height: 1312px;
  background-color: #acedf2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
}

.main-frame .left-frame {
  /* Rectangle 1 */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 1315px;
  background-color: white;
}
.main-frame .midd-frame {
  /* Background Image */
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}
.main-frame .right-frame {
  /* Rectangle 25 */
  position: relative;
  width: 108px;
  height: 1315px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
}
.main-frame .left-frame .left-1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-frame .left-frame .left-1 .left-1-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 142.53px;
  margin-bottom: 29.46px;
}
.main-frame .marginer {
  position: relative;
  width: 220px;
  height: 0px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 15px;
  margin-top: 30px;
  border: 1.5px solid #f0f0f6;
}
.main-frame .left-frame .left-2 {
    margin-top: 15px;
  position: relative;
  width: 220px;
  height: 126px;
  margin-left: 44px;
  display: flex;
  flex-direction: column;
}
/* FIXED  */
.main-frame .left-frame .left-2 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-frame .left-frame .left-2 p {
  margin: 0;
}
.left-p {
  background-color: #f3ca6b;
  padding: 2px 6px;
  font-weight: 500;
}
.main-frame .left-frame .left-2 > div {
  min-height: 25px;
}
/* till here */
.main-frame .left-frame .left-2 .left-p {
  background-color: #f3ca6b;
}
.main-frame .left-frame .left-2 .left-2-1 {
  margin-top: 2px;
  width: 220px;
  height: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-frame .left-frame .left-2 .left-2-2 {
  margin-top: 2px;
  width: 220px;
  height: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-frame .left-frame .left-2 .left-2-3 {
  margin-top: 2px;
  width: 220px;
  height: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-frame .left-frame .left-2 .left-2-4 {
  margin-top: 2px;
  width: 220px;
  height: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-frame .left-frame .left-1-2 {
  /* marcos */
  position: relative;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Inter;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}
/* LEFT # BOSHLANYAPTI SHU YERDAN  */
.main-frame .left-frame .left-3 {
  position: relative;
  width: 220px;
  /* height: 153px; */
  margin-top: 10px;
  margin-left: 45px;
}
.main-frame .left-frame .left-3 .yellow-line {
  width: 220px;
  height: 4px;
  border: 0.5px solid #ffb400;
  border-radius: 30px;
  box-sizing: border-box;
}
.main-frame .left-frame .left-3 .fill-1 {
  height: 100%;
  width: 100%; /* foiz */
  background-color: #ffb400;
}
.main-frame .left-frame .left-3 .fill {
  height: 100%;
  width: 50%; /* foiz */
  background-color: #ffb400;
}
.main-frame .left-frame .left-3 .left-3-1 {
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-frame .left-frame .left-3 .left-3-2 {
  /* height: 40px; */
  margin-bottom: 4px; 
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-frame .left-frame .left-3 .left-3-3 {
  /* height: 40px; */
  margin-bottom: 4px; 
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-frame .left-frame .left-3 .left-3-4 {
  /* height: 40px; */
  margin-bottom: 4px; 
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-frame .left-frame .left-1-3 {
  /* heart */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147.84px;
  height: 24.31px;
  font-family: Inter;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}
.left-icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  margin-top: 19px;
}
.link-href {
  text-decoration: none;
  color: black;
}
.icon {
  position: relative;
  width: 29.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0, 4px, 4px rgba(0, 0, 0, 0.25));
  background-color: #ffb400;
}

.icon-1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;
}
/* .left-4 {
  
  width: 220px;
  
  margin-top: 25px;
  margin-left: 45px;
} */
.main-frame .left-frame .left-4 {
  position: relative;
  /* height: 252px; */
  width: 220px;
  margin-top: 10px;
  margin-left: 45px;
}

.left-4 h3 {
  /* margin-bottom: 15px; */
  font-size: 18px;
}

.skill {
  margin-bottom: 12px;
}

.skill-text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6c6c6c;
  /* margin-bottom: 5px; */
  height: 35px;
}

.yellow-line {
  width: 100%;
  height: 4px;
  border: 0.5px solid #ffb400;
  border-radius: 30px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #ffb400;
  border-radius: 30px;
}

.main-frame .left-frame .left-5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: #acedf2;
}
